<div class="dialog-container">
  <div class="dialog-title">
    <span mat-dialog-title>Miscellaneous Details</span>
  </div>

  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Flights</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dialog-content">
          <div *ngFor="let singleJourney of tripDetails.journeys"
               class="flight-container">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <!-- <span>{{ singleJourney.departure.city.name }} to {{ singleFlight.arrival.city.name }}</span> -->
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div *ngFor="let singleFlight of singleJourney.flights; let index = index"
                     class="flight-detail-holder">
                  <div class="flight-section">
                    <div class="flight-section-top">
                      <div class="flight-location-holder">
                        <span>{{ singleFlight.departure.city.name }} ({{ singleFlight.departure.city.code }})</span>
                      </div>
                    </div>
                    <div class="flight-section-bottom">
                      <div class="flight-time-holder">
                        <span>{{ getDate(singleFlight.departure.date) }}</span>
                        <span>{{ getTime(singleFlight.departure.date) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="flight-section">
                    <div class="flight-section-top">
                      <div class="flight-location-holder">
                        <span>{{ singleFlight.arrival.city.name }} ({{ singleFlight.arrival.city.code }})</span>
                      </div>
                    </div>
                    <div class="flight-section-bottom">
                      <div class="flight-time-holder">
                        <span>{{ getDate(singleFlight.arrival.date) }}</span>
                        <span>{{ getTime(singleFlight.arrival.date) }}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="index !== singleJourney.flights.length - 1"
                       class="flight-layover-container">
                    <div class="flight-layover-details">
                      <div class="flight-layover-location-holder">
                        <span>{{ singleJourney.layovers[index].city.name }}
                          ({{ singleJourney.layovers[index].city.code }})</span>
                      </div>
                      <div class="flight-layover-duration-holder">
                        <div class="flight-layover-duration">
                          <span>{{ getDuration(singleJourney.layovers[index].duration) }} Layover</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions></mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Hotels</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dialog-content">
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Internal Transport</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="dialog-content">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="dialog-actions">
      <button mat-stroked-button
              color="primary"
              (click)="closeDialog()">Close</button>
    </div>
  </mat-dialog-actions>
</div>
