div {
  display: flex;
  flex-direction: column;
}

mat-dialog-content {

  div.dialog-content {
    margin: 1rem 0rem;

    div.content-heading {
      padding: 0rem 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }

    div.flight-container {
      justify-content: space-between;
      align-items: stretch;
      cursor: default;
      margin: 0.5rem 0rem;

      div.flight-section {
        flex-direction: row;
          justify-content: space-between;

        div.flight-section-top {
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      div.flight-layover-details {
        flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }

      div.flight-duration-holder {
        margin: 1rem 0rem;
        justify-content: center;
        align-items: center;
      }

    }

  }
}

mat-dialog-actions {
  div.dialog-actions {
    flex: 1;
  }
}
