<div class="view-container mat-app-background">

  <!-- <ng-container *ngIf="bIsDataLoaded; else loadingData;"> -->
  <ng-container>
    <mat-tab-group backgroundColor="primary" mat-align-tabs="center" id="trip-days-holder"
      (selectedTabChange)="doNothing($event, tabGroup)" #tabGroup>
      <mat-tab *ngFor="let singleDay of tripData.days; let dayIndex = index">
        <ng-template matTabLabel>
          <div class="mat-tab-label-holder">
            <div class="day-index" *ngIf="dayIndex === 0; else notFirstDay;">
              <span>
                <mat-icon>flight_land</mat-icon> Day {{ dayIndex + 1 }}
              </span>
            </div>
            <ng-template #notFirstDay>
              <div class="day-index" *ngIf="dayIndex === tripData.days.length - 1; else notLastDay;">
                <span>
                  <mat-icon>flight_takeoff</mat-icon> Day {{ dayIndex + 1 }}
                </span>
              </div>
              <ng-template #notLastDay>
                <div class="day-index">
                  <span>Day {{ dayIndex + 1 }}</span>
                </div>
              </ng-template>
            </ng-template>
            <div class="day-date">
              <span>{{ tripData.tripStart.startDate | iaDate: dayIndex }}</span>
            </div>
            <div class="day-place-holder">
              <div class="day-place" *ngIf="singleDay.places.length === 1; else morePlaces;">
                <span>{{ singleDay.places[0].name }} round trip</span>
              </div>
              <ng-template #morePlaces>
                <div class="day-place">
                  <span>{{ singleDay.places[0].name }}</span>
                </div>
                <mat-icon>navigate_next</mat-icon>
                <div class="day-place">
                  <span>{{ singleDay.places[singleDay.places.length - 1].name }}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-template>

        <ng-template matTabContent>
          <!-- ↑ for Lazy Loading of <mat-tab> content -->
          <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
            <mat-tab>
              <ng-template matTabLabel>
                <div class="trip-entity-icon-holder">
                  <mat-icon>local_see</mat-icon>
                </div>
                <div class="mat-tab-label-holder">
                  <span>Tourist Attractions</span>
                </div>
              </ng-template>
              <div class="tab-content">
                <div class="trip-entity-card-holder">
                  <mat-card class="trip-entity-card" *ngFor="let singlePlace of singleDay.places">
                    <mat-card-header>
                      <mat-card-title>
                        <span>{{ singlePlace.name }}</span>
                      </mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="no-trip-entity-message trip-entity-missing-information-holder"
                        *ngIf="singlePlace.attractions.length === 0; else placeAttractions;">
                        <div class="trip-entity-icon-holder">
                          <mat-icon>clear</mat-icon>
                        </div>
                        <div class="trip-entity-missing-information">
                          <span>Attraction data not available for {{ singlePlace.name }}</span>
                        </div>
                      </div>
                      <ng-template #placeAttractions>
                        <mat-accordion multi="true">
                          <mat-expansion-panel *ngFor="let singleAttraction of singlePlace.attractions">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <span>{{ singleAttraction.name }}</span>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                              <div class="expansion-panel-content">
                                <div class="trip-entity-address-holder"
                                  *ngIf="singleAttraction.location; else noAttractionAddress;">
                                  <div class="trip-entity-icon-holder">
                                    <mat-icon>place</mat-icon>
                                  </div>
                                  <div class="trip-entity-address"
                                    (click)="mapToLocation(singleAttraction.location.map)">
                                    <span>{{ singleAttraction.location.label }}</span>
                                  </div>
                                </div>
                                <ng-template #noAttractionAddress>
                                  <div class="no-trip-entity-message trip-entity-missing-information-holder">
                                    <div class="trip-entity-icon-holder">
                                      <mat-icon>not_listed_location</mat-icon>
                                    </div>
                                    <div class="trip-entity-missing-information">
                                      <span>Location Information not available</span>
                                    </div>
                                  </div>
                                </ng-template>
                                <div class="trip-entity-description-holder">
                                  <div class="trip-entity-description"
                                    *ngIf="singleAttraction.descriptions.length !== 0; else noAttractionDescription;">
                                    <mat-list>
                                      <mat-list-item *ngFor="let singleDescription of singleAttraction.descriptions">
                                        <span matLine>{{ singleDescription }}</span>
                                      </mat-list-item>
                                    </mat-list>
                                  </div>
                                </div>
                                <ng-template #noAttractionDescription>
                                  <div class="no-trip-entity-message">
                                    <div class="trip-entity-description trip-entity-missing-information-holder">
                                      <div class="trip-entity-icon-holder">
                                        <mat-icon>clear</mat-icon>
                                      </div>
                                      <div class="trip-entity-missing-information">
                                        <span>No description available</span>
                                      </div>
                                    </div>
                                  </div>
                                </ng-template>
                              </div>
                            </ng-template>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </ng-template>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template matTabLabel>
                <div class="trip-entity-icon-holder">
                  <mat-icon>hotel</mat-icon>
                </div>
                <div class="mat-tab-label-holder">
                  <span>Stays</span>
                </div>
              </ng-template>
              <div class="tab-content">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let singlePlace of singleDay.places">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span>{{ singlePlace.name }}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="no-trip-entity-message trip-entity-missing-information-holder"
                        *ngIf="singlePlace.stays.length === 0; else placeStays;">
                        <div class="trip-entity-icon-holder">
                          <mat-icon>clear</mat-icon>
                        </div>
                        <div class="trip-entity-missing-information">
                          <span>Stay data not available for {{ singlePlace.name }}</span>
                        </div>
                      </div>
                      <ng-template #placeStays>
                        <div class="expansion-panel-content">
                          <div class="trip-entity-card-holder">
                            <mat-card class="trip-entity-card" *ngFor="let singleStay of singlePlace.stays">
                              <mat-card-header>
                                <mat-card-title>
                                  <div class="trip-entity-name-holder">
                                    <div class="trip-entity-icon-holder">
                                      <mat-icon>hotel</mat-icon>
                                    </div>
                                    <div class="trip-entity-name">
                                      <span>{{ singleStay.name }}</span>
                                    </div>
                                  </div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                  <div class="trip-entity-detail-holder">
                                    <div class="trip-entity-address-holder"
                                      *ngIf="singleStay.location; else noStayAddress;">
                                      <div class="trip-entity-icon-holder">
                                        <mat-icon>place</mat-icon>
                                      </div>
                                      <div class="trip-entity-address">
                                        <span>{{ singleStay.location.label }}</span>
                                      </div>
                                    </div>
                                    <ng-template #noStayAddress>
                                      <div class="no-trip-entity-message trip-entity-missing-information-holder">
                                        <div class="trip-entity-icon-holder">
                                          <mat-icon>not_listed_location</mat-icon>
                                        </div>
                                        <div class="trip-entity-address">
                                          <span>Address unavailable</span>
                                        </div>
                                      </div>
                                    </ng-template>
                                    <div class="no-trip-entity-message trip-entity-missing-information-holder"
                                      *ngIf="singleStay.contacts.length === 0; else stayContacts;">
                                      <div class="trip-entity-icon-holder">
                                        <mat-icon>clear</mat-icon>
                                      </div>
                                      <div class="trip-entity-missing-information">
                                        <span>Contacts unavailable</span>
                                      </div>
                                    </div>
                                    <ng-template #stayContacts>
                                      <div class="trip-entity-contact-holder">
                                        <div class="trip-entity-icon-holder">
                                          <mat-icon>phone</mat-icon>
                                        </div>
                                        <div class="trip-entity-contact-list-holder">
                                          <mat-list>
                                            <mat-list-item *ngFor="let singleContact of singleStay.contacts">
                                              <span matLine>{{ singleContact }}</span>
                                            </mat-list-item>
                                          </mat-list>
                                        </div>
                                      </div>
                                    </ng-template>
                                  </div>
                                </mat-card-subtitle>
                              </mat-card-header>
                              <mat-card-content>
                                <mat-divider></mat-divider>
                                <div class="no-trip-entity-message trip-entity-missing-information-holder"
                                  *ngIf="singleStay.rooms.length === 0; else roomTable;">
                                  <div class="trip-entity-icon-holder">
                                    <mat-icon>clear</mat-icon>
                                  </div>
                                  <div class="trip-entity-missing-information">
                                    <span>No rooms rates available for {{ singleStay.name }}</span>
                                  </div>
                                </div>
                                <ng-template #roomTable>
                                  <div class="trip-entity-table-holder">
                                    <mat-table [dataSource]="singleStay.rooms">
                                      <ng-container matColumnDef="type">
                                        <mat-header-cell *matHeaderCellDef>
                                          <span>Pricing Paramters</span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let cellDef">
                                          <span>{{ roomValues[cellDef.type] }}</span>
                                        </mat-cell>
                                      </ng-container>
                                      <ng-container matColumnDef="cost">
                                        <mat-header-cell *matHeaderCellDef>
                                          <span>Cost</span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let cellDef">
                                          <span>₹&nbsp;{{ cellDef.cost }}&nbsp;/-</span>
                                        </mat-cell>
                                      </ng-container>
                                      <mat-header-row *matHeaderRowDef="tripAssets.displayedColumns"></mat-header-row>
                                      <mat-row *matRowDef="let row; columns: tripAssets.displayedColumns;"></mat-row>
                                    </mat-table>
                                  </div>
                                </ng-template>
                              </mat-card-content>
                            </mat-card>
                          </div>
                        </div>
                      </ng-template>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-tab>

          </mat-tab-group>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <div class="button-holder">
      <div class="button">
        <button mat-flat-button color="primary" (click)="otherDetails()">View Other Details</button>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingData>
    <div class="loading-container mat-app-background">
      <div class="loading-icon">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 13 13" #loaderSVG>
          <g>
            <rect id="tl" x="1" y="1" rx="1" ry="1"></rect>
            <rect id="tr" x="7" y="1" rx="1" ry="1"></rect>
            <rect id="bl" x="1" y="7" rx="1" ry="1"></rect>
            <rect id="br" x="7" y="7" rx="1" ry="1"></rect>
          </g>
        </svg>
      </div>
    </div>
  </ng-template>

</div>