div {
  display: flex;
  flex-direction: column;
}

div.button-holder {
  height: 100vh;
  justify-content: space-around;
  align-items: center;

  div.button {
    justify-content: center;

    button {
      flex: 1;
      margin: 1rem;
    }
  }
}
